Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: scripts/run-in-env.sh check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: scripts/run-in-env.sh check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: scripts/run-in-env.sh check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: scripts/run-in-env.sh check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: scripts/run-in-env.sh check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: scripts/run-in-env.sh check-toml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        entry: scripts/run-in-env.sh codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: scripts/run-in-env.sh detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: scripts/run-in-env.sh end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: scripts/run-in-env.sh no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: scripts/run-in-env.sh pylint
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: scripts/run-in-env.sh trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(matter_server|pylint)/.+\.py$

Open one http session for git_cert_fetch
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Optimizations: 1. Remove redundant status 200 check 2. Assign set directly
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fetch all Git certs and prefer them (#545)
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Delete .github/workflows/build-web.yaml
  .github/workflows/build-web.yaml
Due: none

Fix small typo in the develop script for the dashboard
  dashboard/script/develop
Due: none

Fix small typo in the develop script for the dashboard (#554)
  dashboard/script/develop
Due: none

Remove black and flake8 (now handled by ruff)
  pyproject.toml
Due: check-toml

Filter Matter SDK logging in SDK
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump CHIP wheel requirement to 2024.2.0
  pyproject.toml
Due: check-toml

Run rollup as well before start development
  dashboard/script/develop
Due: none

Address pre-commit reports
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove black and flake8 from dev dependencies (now handled by ruff) (#555)
  pyproject.toml
Due: check-toml

Fixed the Nullable values in the write attributes procedure
  matter_server/server/device_controller.py
  matter_server/server/helpers/attributes.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Filter Matter SDK logging in SDK (#556)
  matter_server/server/__main__.py
  matter_server/server/stack.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Disable Ruff TCH001 and TCH003
  pyproject.toml
Due: check-toml

Add EM102 to disabled ruff rules
  pyproject.toml
Due: check-toml

A few small improvements to the linter config (#567)
  pyproject.toml
Due: check-toml

Delay marking a node as unavailable
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Apply sort within sections to ruff config
  pyproject.toml
Due: check-toml

remove I001 from disabled rules
  matter_server/client/models/node.py
  matter_server/common/helpers/json.py
  matter_server/common/helpers/util.py
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
  matter_server/server/server.py
  matter_server/server/stack.py
  matter_server/server/vendor_info.py
  pyproject.toml
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Update matter_server/server/device_controller.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update pyproject.toml
  pyproject.toml
Due: check-toml

lint the imports
  matter_server/client/models/node.py
  matter_server/common/helpers/util.py
  matter_server/server/device_controller.py
  matter_server/server/vendor_info.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Delay marking a node as unavailable (#568)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Enforce alphabetical sorting in ruff isort (#569)
  matter_server/common/helpers/json.py
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
  matter_server/server/server.py
  matter_server/server/stack.py
  pyproject.toml
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

increase interval ceiling
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Delay building of the container after publishing to PyPi
  .github/workflows/release.yml
Due: none

Ignore main branch in test workflow push
  .github/workflows/test.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Skip push to main branch check in test workflow push (#571)
  .github/workflows/test.yml
Due: none

filter subscriptions and use 3 paths max per sub
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Delay building of the container after publishing to PyPi (#570)
  .github/workflows/release.yml
Due: none

Debounce mdns messages for nodes
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

small typo
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

remove leftover dead code
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Switch (back) to a single wildcard subscription per node
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Revert "filter subscriptions and use 3 paths max per sub"
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Extend sleep in release action
  .github/workflows/release.yml
Due: none

prevent duplicate node setup
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy
