Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: scripts/run-in-env.sh pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Apply suggestions from code review
  matter_server/client/client.py
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Share client session for update check
  matter_server/server/ota/dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Provide methods to convert dataclass as dict
  matter_server/common/models.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Log with node logger when checking for updates
  matter_server/server/device_controller.py
  matter_server/server/ota/__init__.py
  matter_server/server/ota/dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix trailing whitespace
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix tests
  tests/server/ota/test_dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

ruff format
  matter_server/client/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Support loading updates from local json file
  matter_server/server/device_controller.py
  matter_server/server/ota/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Check if update directory exists
  matter_server/server/ota/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add software update source information
  matter_server/common/models.py
  matter_server/server/device_controller.py
  matter_server/server/ota/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add software update capability (#709)
  Dockerfile
  matter_server/client/client.py
  matter_server/common/const.py
  matter_server/common/errors.py
  matter_server/common/models.py
  matter_server/server/__main__.py
  matter_server/server/const.py
  matter_server/server/device_controller.py
  matter_server/server/helpers/__init__.py
  matter_server/server/helpers/paa_certificates.py
  matter_server/server/ota/__init__.py
  matter_server/server/ota/dcl.py
  matter_server/server/ota/provider.py
  matter_server/server/server.py
  tests/server/ota/test_dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

extend client
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
Due: none

some more missing methods
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
Due: none

add remaining implementations to client and models
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
Due: none

update serverinfo when setting credentials
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
  matter_server/common/models.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Matter update fixes
  matter_server/common/models.py
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Implement missing features and models in javascript client (#803)
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
  matter_server/common/models.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add support for commissioning nodes
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/client/client-context.ts
  dashboard/src/client/models/descriptions.ts
  dashboard/src/components/dialog-box/dialog-box.ts
  dashboard/src/components/dialog-box/show-dialog-box.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-dialog.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-existing.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-thread.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-wifi.ts
  dashboard/src/components/dialogs/commission-node-dialog/show-commission-node-dialog.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/components/server-details.ts
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-dashboard-app.ts
  dashboard/src/util/clone_class.ts
Due: check-json

handle node added
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-dialog.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-existing.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-thread.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-wifi.ts
Due: none

Use asyncio.to_thread
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

disabled new devices when no bluetooth
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-dialog.ts
  dashboard/src/components/dialogs/commission-node-dialog/show-commission-node-dialog.ts
  dashboard/src/pages/components/server-details.ts
Due: none

Matter update fixes (#805)
  matter_server/common/models.py
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add a bit of progress and error handling
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-wifi.ts
Due: none

Update commission-node-wifi.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-wifi.ts
Due: none

adjust dialogs
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-existing.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-thread.ts
Due: none

cleanup
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-existing.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-thread.ts
Due: none

BAM
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-existing.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-thread.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-wifi.ts
Due: none

typo
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-existing.ts
Due: none

lint
  dashboard/src/client/client-context.ts
  dashboard/src/client/models/descriptions.ts
  dashboard/src/components/dialogs/commission-node-dialog/show-commission-node-dialog.ts
  dashboard/src/util/clone_class.ts
Due: none

lint
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-dialog.ts
Due: none

Add support for commissioning nodes to debug UI (#804)
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/client/client-context.ts
  dashboard/src/client/models/descriptions.ts
  dashboard/src/components/dialog-box/dialog-box.ts
  dashboard/src/components/dialog-box/show-dialog-box.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-dialog.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-existing.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-thread.ts
  dashboard/src/components/dialogs/commission-node-dialog/commission-node-wifi.ts
  dashboard/src/components/dialogs/commission-node-dialog/show-commission-node-dialog.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/components/server-details.ts
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-dashboard-app.ts
  dashboard/src/util/clone_class.ts
Due: check-json

Add update button to debug UI
  dashboard/src/client/models/model.ts
  dashboard/src/client/models/node.ts
  dashboard/src/pages/components/node-details.ts
Due: none

semicolon
  dashboard/src/pages/components/node-details.ts
Due: none

Add update button to debug UI (#806)
  dashboard/src/client/models/model.ts
  dashboard/src/client/models/node.ts
  dashboard/src/pages/components/node-details.ts
Due: none

Update to Matter SDK wheels 2024.7.1
  pyproject.toml
Due: check-toml

Update to Matter SDK wheels 2024.7.1 (#809)
  pyproject.toml
Due: check-toml

Skip updates from DCL which are considered invalid
  matter_server/server/ota/dcl.py
  pyproject.toml
  tests/server/ota/fixtures/4447-8194-1000.json
  tests/server/ota/fixtures/4447-8194-1011-invalid.json
  tests/server/ota/fixtures/4447-8194-1011-valid.json
  tests/server/ota/fixtures/4447-8194.json
  tests/server/ota/test_dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

Skip updates from DCL which are considered invalid (#811)
  matter_server/server/ota/dcl.py
  pyproject.toml
  tests/server/ota/fixtures/4447-8194-1000.json
  tests/server/ota/fixtures/4447-8194-1011-invalid.json
  tests/server/ota/fixtures/4447-8194-1011-valid.json
  tests/server/ota/fixtures/4447-8194.json
  tests/server/ota/test_dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

Enable server interactions by default
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump OTA Provider to 2024.7.2
  Dockerfile
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: ^(matter_server|pylint)/.+\.py$ and \.py$
