Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: scripts/run-in-env.sh pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Catch TimeoutError while retrieving certificates
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Catch TimeoutError while retrieving certificates (#594)
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update dashboard/src/entrypoint/main.ts
  dashboard/src/entrypoint/main.ts
Due: none

store dashboard_dir in local variable
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Include (base) dashboard in the builtin-webserver (#593)
  .github/workflows/release.yml
  dashboard/src/entrypoint/main.ts
  dashboard/src/pages/matter-dashboard.ts
  matter_server/server/server.py
  pyproject.toml
  tests/server/test_server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Extend sleep in release action
  .github/workflows/release.yml
Due: none

Fix the dashboard build included in the py wheel
  .github/workflows/release.yml
  .gitignore
  dashboard/README.md
  dashboard/script/build
  matter_server/server/server.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Ensure that the dashboard build is included in the py wheel (#596)
  .github/workflows/release.yml
  .gitignore
  dashboard/README.md
  dashboard/script/build
  matter_server/server/server.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Extend sleep in release action (#595)
  .github/workflows/release.yml
Due: none

Add a lock on the node setup
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.2.1
  Dockerfile
  Dockerfile.dev
  pyproject.toml
Due: check-toml

Add a bit more logging
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

register global exception handlers
  matter_server/server/__main__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use 32 executor workers
  matter_server/server/__main__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add global exception handler to the eventloop
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

ignore mdns discovery when node already being setup
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.2.1 (#598)
  Dockerfile
  Dockerfile.dev
  pyproject.toml
Due: check-toml

No need for node lock in subscription setup
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

temp log resolve node
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

remove leftover code
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

add explicit exception handler to subscribe
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use single SDK worker Thread
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use single SDK worker Thread (#599)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use node lock for read and write attribute
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use ping and less verbose stack traces
  matter_server/server/client_handler.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

remove setup lock as the lock to the sdk is enough to throttle
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use variable subscription ceiling
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

tweak the ceilings a bit again
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

unify logger
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

increase ping timeouts for bust networks
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

small change to the log format
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

adjust node last seen logic a tiny bit
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

cleanup
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use constants for the time periods
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

A collection of small (stability) fixes and tweaks (#597)
  matter_server/server/__main__.py
  matter_server/server/client_handler.py
  matter_server/server/device_controller.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Do multiple ping attempts when discovering a node
  matter_server/server/device_controller.py
  matter_server/server/helpers/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Do multiple ping attempts when discovering a node (#600)
  matter_server/server/device_controller.py
  matter_server/server/helpers/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add fallback scanner for Matter nodes
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add timeouts to sdk calls
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add name for SDK executor Thread
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: ^(matter_server|pylint)/.+\.py$ and \.py$
