Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: scripts/run-in-env.sh pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

BridgedDevice --> BridgedNode
  matter_server/client/models/node.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Clustert BridgedDeviceBasicInformation --> BridgedDeviceBasic
  matter_server/client/models/node.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update device_types.py
  matter_server/client/models/device_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update node.py
  matter_server/client/models/node.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix generate_devices.py for 1.4
  scripts/generate_devices.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Update descriptions.ts to 1.4
  dashboard/src/client/models/descriptions.ts
Due: none

Update matter-node-view.ts
  dashboard/src/pages/matter-node-view.ts
Due: none

Update descriptions.ts
  dashboard/src/client/models/descriptions.ts
Due: none

Bump to 2024.11.0 wheels
  pyproject.toml
Due: check-toml

Update device types for Matter SDK 1.4 (#950)
  dashboard/src/client/models/descriptions.ts
  matter_server/client/models/device_types.py
  matter_server/client/models/node.py
  pyproject.toml
  scripts/generate_devices.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Fix websocket server port in dashboard README
  dashboard/README.md
Due: none

Add Manual pairing code in README
  README.md
Due: none

Improve README readability
  README.md
Due: none

Python format
  README.md
Due: none

Fix websocket server port in dashboard README (#962)
  dashboard/README.md
Due: none

Add support for HACS hass_ingress integration (#940)
  dashboard/src/entrypoint/main.ts
Due: none

Add device type(s) in node-view - Endpoint list (#942)
  dashboard/src/pages/matter-node-view.ts
Due: none

Add Manual pairing code in README (#963)
  README.md
Due: none

Improve README readability (#964)
  README.md
Due: none

Move the Python example a little lower.
  README.md
Due: none

lint
  matter_server/common/models.py
  matter_server/server/helpers/custom_web_runner.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

(fix/doc) Move the Python example a little further in README (#970)
  README.md
Due: none

lint
  matter_server/common/helpers/util.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump container base image to Debian 12 and Python 3.12
  Dockerfile
Due: none

Bump container base image to Debian 12 and Python 3.12 (#972)
  Dockerfile
Due: none

Fix formatting for 'Manual pairing code' section
  README.md
Due: none

Fix formatting for 'Manual pairing code' section (#973)
  README.md
Due: none

Revert bump to Matter 1.4 wheels and device types
  dashboard/src/client/models/descriptions.ts
  matter_server/client/models/device_types.py
  matter_server/client/models/node.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Revert bump to Matter 1.4 wheels and device types (#974)
  dashboard/src/client/models/descriptions.ts
  matter_server/client/models/device_types.py
  matter_server/client/models/node.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Update README.md
  README.md
Due: none

Add 'Write an attribute' to README
  README.md
Due: none

Bump to Matter 1.4 wheels and device types
  dashboard/src/client/models/descriptions.ts
  matter_server/client/models/device_types.py
  matter_server/client/models/node.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Bump to CHIP wheels 2024.11.4
  pyproject.toml
Due: check-toml

Move WS doc to docs dir
  README.md
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: ^(matter_server|pylint)/.+\.py$ and \.py$
