Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: scripts/run-in-env.sh pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

Add a custom cluster for Inovelli VTM31-SN Dimmer (#1090)
  dashboard/src/client/models/descriptions.ts
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add docs to allowed PR labels (#1097)
  .github/workflows/pr-labels.yaml
Due: none

Developer documentation: /data & IPv4 group limits (#1081)
  DEVELOPMENT.md
Due: none

Add additional attribute to Inovelli VTM31-SN dimmer custom cluster
  dashboard/src/client/models/descriptions.ts
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add additional attribute to Inovelli VTM31-SN dimmer custom cluster (#1103)
  dashboard/src/client/models/descriptions.ts
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Disable TC006
  pyproject.toml
Due: check-toml

Use module logger instance
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Improve mDNS browsing to find operational nodes
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Mock ChipDeviceControllerWrapper
  tests/server/test_server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Remove commissionable node browsing
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump home-assistant-chip-cluster from 2024.11.4 to 2025.4.0
  pyproject.toml
Due: check-toml

Always use multicasts for service discovery
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Always use multicasts for service discovery (#1127)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add Mounted Dimmable load device type (1.4)
  matter_server/client/models/device_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update descriptions.ts
  dashboard/src/client/models/descriptions.ts
Due: none

Bump OTA Provider to 2025.5.0
  Dockerfile
Due: none

Bump OTA Provider to 2025.5.0 (#1143)
  Dockerfile
Due: none

Drop temporary workaround for Poll Control
  scripts/generate_devices.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Bump to Python 3.12
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
Due: check-toml

Remove unnecessary libgirepository dependency
  .github/workflows/test.yml
Due: none

Remove unnecessary libgirepository dependency (#1147)
  .github/workflows/test.yml
Due: none

Bump to Python 3.12 (#1146)
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
Due: check-toml

Drop temporary workaround for Poll Control (#1145)
  scripts/generate_devices.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Improve Matter DNS-SD service parsing
  matter_server/server/device_controller.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add pytest for regex
  tests/test_device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Update matter_server/server/server.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add Mounted device types (1.4) (#1137)
  dashboard/src/client/models/descriptions.ts
  matter_server/client/models/device_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Run pylint explicitly on specific directories
  .pre-commit-config.yaml
Due: none

Improve Matter DNS-SD service parsing (#1144)
  .pre-commit-config.yaml
  matter_server/server/device_controller.py
  matter_server/server/server.py
  tests/test_device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

refactor: rewrite delete binding handler.
  dashboard/src/components/dialogs/binding/node-binding-dialog.ts
Due: none

refactor: remove unused commands.
  matter_server/common/models.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

feat: add node binding dialog.
  dashboard/src/client/models/model.ts
  dashboard/src/components/dialogs/binding/model.ts
  dashboard/src/components/dialogs/binding/node-binding-dialog.ts
Due: none

refactor: remove acl entry by target's endpoint.
  dashboard/src/components/dialogs/acl/model.ts
  dashboard/src/components/dialogs/binding/model.ts
  dashboard/src/components/dialogs/binding/node-binding-dialog.ts
Due: none

feat: add binding and acl command.
  matter_server/common/models.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

feat: add binding and acl command in dashboard.
  dashboard/src/client/client.ts
Due: none

refactor: use endpoint replace binding path.
  dashboard/src/components/dialogs/binding/node-binding-dialog.ts
  dashboard/src/components/dialogs/binding/show-node-binding-dialog.ts
  dashboard/src/pages/components/context.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/matter-cluster-view.ts
Due: none

feat: add binding button in node-details.ts.
  dashboard/src/components/dialogs/binding/show-node-binding-dialog.ts
  dashboard/src/pages/components/context.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/matter-cluster-view.ts
Due: none

fix: can not add binding entry to list after add button click.
  dashboard/src/components/dialogs/binding/node-binding-dialog.ts
Due: none

refactor: add cluster to binding command.
  dashboard/note.md
  dashboard/src/components/dialogs/binding/node-binding-dialog.ts
  dashboard/src/pages/components/node-details.ts
Due: none

Add node binding dialog. (#1155)
  dashboard/note.md
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
  dashboard/src/components/dialogs/acl/model.ts
  dashboard/src/components/dialogs/binding/model.ts
  dashboard/src/components/dialogs/binding/node-binding-dialog.ts
  dashboard/src/components/dialogs/binding/show-node-binding-dialog.ts
  dashboard/src/pages/components/context.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/matter-cluster-view.ts
  matter_server/common/models.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: ^(matter_server|pylint)/.+\.py$ and \.py$
