Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: scripts/run-in-env.sh check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: scripts/run-in-env.sh check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: scripts/run-in-env.sh check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: scripts/run-in-env.sh check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: scripts/run-in-env.sh check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: scripts/run-in-env.sh check-toml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        entry: scripts/run-in-env.sh codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: scripts/run-in-env.sh detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: scripts/run-in-env.sh end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: scripts/run-in-env.sh no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: scripts/run-in-env.sh pylint
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: scripts/run-in-env.sh trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(matter_server|pylint)/.+\.py$

Enable server interactions by default (#812)
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump OTA Provider to 2024.7.2 (#813)
  Dockerfile
Due: none

Only show update in progress when updateState > 1
  dashboard/src/pages/components/node-details.ts
Due: none

add share button
  dashboard/src/pages/components/node-details.ts
Due: none

Debug UI: Fix update progres and add share button (#814)
  dashboard/src/pages/components/node-details.ts
Due: none

Add setup script to setup/configure dev environment
  scripts/setup.sh
Due: none

update readme
  README.md
Due: none

Trim OTA checksum for whitespace before comparing
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

remove outdated block
  README.md
Due: none

Trim OTA checksum for whitespace before comparing (#819)
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add setup script for development and adjust readme (#818)
  README.md
  scripts/setup.sh
Due: none

lint
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add note about Docker default command
  README.md
  compose.yml
Due: none

Add note about Docker default command (#826)
  README.md
  compose.yml
Due: none

Log when the Matter server finished startup
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Start controller after loading vendor info
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Log when the Matter server finished startup (#827)
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix writing optional Nullable values
  matter_server/common/helpers/util.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

add test
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Fix writing optional Nullable values (#828)
  matter_server/common/helpers/util.py
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Don't regard update information without a valid URL
  matter_server/server/device_controller.py
  matter_server/server/ota/dcl.py
  tests/server/ota/fixtures/4442-67-197888.json
  tests/server/ota/fixtures/4442-67-197910.json
  tests/server/ota/fixtures/4442-67-198340.json
  tests/server/ota/fixtures/4442-67.json
  tests/server/ota/test_dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, pylint, mypy

Don't regard update information without a valid URL (#829)
  matter_server/server/device_controller.py
  matter_server/server/ota/dcl.py
  tests/server/ota/fixtures/4442-67-197888.json
  tests/server/ota/fixtures/4442-67-197910.json
  tests/server/ota/fixtures/4442-67-198340.json
  tests/server/ota/fixtures/4442-67.json
  tests/server/ota/test_dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, pylint, mypy

Fix OTA URL check syntax
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix OTA URL check syntax (#834)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Catch connection lost in dashboard
  dashboard/src/client/client.ts
  dashboard/src/client/connection.ts
  dashboard/src/pages/matter-dashboard-app.ts
Due: none

update descriptions
  dashboard/src/client/models/descriptions.ts
Due: none

Handle lost connection in the dashboard (#837)
  dashboard/src/client/client.ts
  dashboard/src/client/connection.ts
  dashboard/src/client/models/descriptions.ts
  dashboard/src/pages/matter-dashboard-app.ts
Due: none

Update custom_clusters.py to add Eve Weather pressure attribute
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update custom_clusters.py
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add Eve Weather custom attributes (#842)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update matter_server/common/custom_clusters.py
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy
