Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: scripts/run-in-env.sh check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: scripts/run-in-env.sh check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: scripts/run-in-env.sh check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: scripts/run-in-env.sh check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: scripts/run-in-env.sh check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: scripts/run-in-env.sh check-toml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        entry: scripts/run-in-env.sh codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: scripts/run-in-env.sh detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: scripts/run-in-env.sh end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: scripts/run-in-env.sh no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: scripts/run-in-env.sh pylint
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: scripts/run-in-env.sh trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(matter_server|pylint)/.+\.py$

Update custom_clusters.py
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.9.0
  matter_server/server/sdk.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

MotionSensitivity attribute within the Eve Cluster (#887)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.9.0 (#890)
  matter_server/server/sdk.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Chgange subscription floor to 2 seconds to prevent flooding during transitions
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use 1 second
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Change subscription floor to 1 second to prevent flooding (#891)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use interval floor of 0 for ICD devices
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use constant
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Prevent Eve devices with newer firmware to be polled
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

refactor it a small bit
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use interval floor of 0 for ICD devices (#892)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

specify attribute paths using cluster lib
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Prevent Eve devices with newer firmware to be polled (#893)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update pyproject.toml
  pyproject.toml
Due: check-toml

adjust lint config
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use pylint.design
  pyproject.toml
Due: check-toml

Correct typo in the subscription floor
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Correct typo in the subscription floor (#897)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add fabric label on commissioning
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add command to set default fabric label
  matter_server/client/client.py
  matter_server/common/const.py
  matter_server/common/models.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add OHF logo to README
  README.md
Due: none

Add OHF logo to README (#905)
  README.md
Due: none

Don't set fabric label by default
  matter_server/client/client.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Abort update when device goes offline
  matter_server/server/device_controller.py
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Moved OHF badge to suitable location in README
  README.md
Due: none

Add fabric label on commissioning (#899)
  matter_server/client/client.py
  matter_server/common/const.py
  matter_server/common/models.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Abort update when device goes offline (#906)
  matter_server/server/device_controller.py
  matter_server/server/ota/provider.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Moved OHF badge to suitable location in README (#907)
  README.md
Due: none

Update label on interview
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Only update the label on interview WS command
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update label on interview (#909)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

adds support for HACS hass_ingress integration
  dashboard/src/entrypoint/main.ts
Due: none

updated devicetypes for Matter SDK 1.4
  matter_server/client/models/device_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update matter-node-view.ts
  dashboard/src/pages/matter-node-view.ts
Due: none

Update README.md
  README.md
Due: none
