Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: scripts/run-in-env.sh check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: scripts/run-in-env.sh check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: scripts/run-in-env.sh check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: scripts/run-in-env.sh check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: scripts/run-in-env.sh check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: scripts/run-in-env.sh check-toml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        entry: scripts/run-in-env.sh codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: scripts/run-in-env.sh detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: scripts/run-in-env.sh end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: scripts/run-in-env.sh no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: scripts/run-in-env.sh pylint
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: scripts/run-in-env.sh trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(matter_server|pylint)/.+\.py$

Create Add Websocket documentation README
  docs/Add Websocket documentation README
Due: none

Add Websocket documentation README
  docs/README.md
Due: none

Add link to Websocket page
  README.md
Due: none

Bump to Matter 1.4 wheels and device types (#993)
  dashboard/src/client/models/descriptions.ts
  matter_server/client/models/device_types.py
  matter_server/client/models/node.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Rename README.md to websockets_api.md
  docs/websockets_api.md
Due: none

Rename Websocket API doc
  README.md
Due: none

Move Websocket commands doc into docs directory (#981)
  README.md
  docs/websockets_api.md
Due: none

change docs a bit to reflect new name
  README.md
Due: none

change pyproject as well
  pyproject.toml
Due: check-toml

Change name in readme + pyproject to reflect the certified name (#998)
  README.md
  pyproject.toml
Due: check-toml

Update README.md
  README.md
Due: none

Add draft ElectricalMeasurement cluster definition
  dashboard/src/client/models/descriptions.ts
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Explain how to start the server with debug log-level (#999)
  README.md
Due: none

Add draft ElectricalMeasurement cluster definition (#1000)
  dashboard/src/client/models/descriptions.ts
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Set fabric label on interview
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Restructure the documentation in more digestable parts
  DEVELOPMENT.md
  README.md
  compose.yml
  docs/docker.md
  docs/matter_logo.svg
  docs/os_requirements.md
  docs/websockets_api.md
Due: none

Set fabric label on interview (#1007)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

feedback tweaks
  docs/docker.md
  docs/os_requirements.md
Due: none

Restructure the documentation in more smaller parts (#1008)
  DEVELOPMENT.md
  README.md
  compose.yml
  docs/docker.md
  docs/matter_logo.svg
  docs/os_requirements.md
  docs/websockets_api.md
Due: none

Use atomic writes for the storage file
  matter_server/server/storage.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Update pyproject.toml
  pyproject.toml
Due: check-toml

Use atomic writes for the storage file (#1014)
  matter_server/server/storage.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

Ensure file exists before making a backup
  matter_server/server/storage.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix settings file storage at first/clean startup (#1023)
  matter_server/server/storage.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Support local updates with the same version string
  matter_server/server/device_controller.py
  matter_server/server/ota/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update client.py
  matter_server/client/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Client can't reconnect after disconnection (#1029)
  matter_server/client/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use new pre-commit stage names
  .pre-commit-config.yaml
Due: none

Follow remap of TCH002 to TC002
  tests/ruff.toml
Due: check-toml

Use new pre-commit stage names (#1035)
  .pre-commit-config.yaml
Due: none

Run ruff format
  matter_server/common/helpers/util.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Support local updates with the same version string (#1027)
  matter_server/server/device_controller.py
  matter_server/server/ota/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Include DCL URL in test cases
  tests/server/ota/test_dcl.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Add json as allowed builtin module name to be overridden
  pyproject.toml
Due: check-toml

Developer documentation: /data & Ipv4 group limits
  DEVELOPMENT.md
Due: none

Add a custom cluster for Inovelli VTM31-SN Dimmer. Only including the two attributes I have identified for now.
  dashboard/src/client/models/descriptions.ts
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add docs to allowed PR labels
  .github/workflows/pr-labels.yaml
Due: none
