Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: scripts/run-in-env.sh pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

cleanup
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Fix writing of Nullable attributes (#768)
  matter_server/common/helpers/util.py
  matter_server/server/device_controller.py
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

remove should poll
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Added custom cluster for energy consumption data for Neo smart plug (#762)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Don't use threadsafe variant in signal_event
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Override Liveness timeout on shutdown
  matter_server/server/device_controller.py
  matter_server/server/sdk.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Don't use threadsafe variant in signal_event (#770)
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update matter_server/server/sdk.py
  matter_server/server/sdk.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Override Liveness timeout on shutdown (#771)
  matter_server/server/device_controller.py
  matter_server/server/sdk.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Raise InvalidServerVersion when Server is too old too
  matter_server/client/client.py
  matter_server/client/connection.py
  matter_server/client/exceptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix version compare logic
  matter_server/client/connection.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Convert to use separate Exceptions without properties
  matter_server/client/client.py
  matter_server/client/connection.py
  matter_server/client/exceptions.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Raise InvalidServerVersion when Server is too old too (#772)
  matter_server/client/client.py
  matter_server/client/connection.py
  matter_server/client/exceptions.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Use GetConnectedDevice directly to get device proxy
  matter_server/server/sdk.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.6.3
  pyproject.toml
Due: check-toml

Use GetConnectedDevice directly to get device proxy (#723)
  matter_server/server/sdk.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.6.3 (#775)
  pyproject.toml
Due: check-toml

Update Dockerfile.dev
  Dockerfile.dev
Due: none

Update descriptions with latest changes
  dashboard/src/client/models/descriptions.ts
Due: none

Always generate descriptions on dashboard setup
  dashboard/script/setup
Due: none

Update dashboard definition files (#781)
  dashboard/script/setup
  dashboard/src/client/models/descriptions.ts
Due: none

Update to Matter SDK wheels 2024.6.4
  matter_server/server/sdk.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Update to Matter SDK wheels 2024.6.4 (#782)
  matter_server/server/sdk.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

add editable instal of the client before building the dashboard
  .github/workflows/release.yml
  dashboard/README.md
Due: none

Add editable install of the client before building the dashboard (#783)
  .github/workflows/release.yml
  dashboard/README.md
Due: none

Update compose.yml to follow new Compose Specification
  compose.yml
Due: none

Update to Matter SDK wheels 2024.7.0
  pyproject.toml
Due: check-toml

Update to Matter SDK wheels 2024.7.0 (#785)
  pyproject.toml
Due: check-toml

Update compose.yml to follow new Compose Specification (#784)
  compose.yml
Due: none

Add flag for test-net DCL
  matter_server/server/__main__.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Rename flag to --enable-test-net-dcl
  matter_server/server/__main__.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Always download CHIP test certs
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add flag for test-net DCL (#786)
  matter_server/server/__main__.py
  matter_server/server/helpers/paa_certificates.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Convert --enable-test-net-dcl to a flag
  matter_server/server/__main__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Convert --enable-test-net-dcl to a flag argument (#788)
  matter_server/server/__main__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add custom cluster definition for ThirdReality Energy reporting
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update matter_server/common/custom_clusters.py
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add custom cluster definition for ThirdReality Energy reporting (#789)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: ^(matter_server|pylint)/.+\.py$ and \.py$
