Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: scripts/run-in-env.sh pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

review feedback
  dashboard/src/client/client.ts
  dashboard/src/entrypoint/main.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/components/server-details.ts
  dashboard/src/pages/matter-server-view.ts
Due: none

cleanup
  dashboard/src/client/client.ts
  dashboard/src/pages/components/header.ts
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-dashboard-app.ts
  dashboard/src/pages/matter-endpoint-view.ts
  dashboard/src/pages/matter-node-view.ts
  dashboard/src/pages/matter-server-view.ts
Due: none

small change
  dashboard/src/pages/components/node-details.ts
Due: none

add comment
  dashboard/src/pages/components/node-details.ts
Due: none

more cleanup
  dashboard/src/pages/components/server-details.ts
  dashboard/src/pages/matter-server-view.ts
Due: none

cleanup crap
  dashboard/src/pages/components/header.ts
Due: none

Expand dashboard to explore Node values (#669)
  dashboard/src/client/client.ts
  dashboard/src/client/models/descriptions.ts
  dashboard/src/client/models/model.ts
  dashboard/src/client/models/node.ts
  dashboard/src/entrypoint/main.ts
  dashboard/src/pages/components/footer.ts
  dashboard/src/pages/components/header.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/components/server-details.ts
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-dashboard-app.ts
  dashboard/src/pages/matter-dashboard.ts
  dashboard/src/pages/matter-endpoint-view.ts
  dashboard/src/pages/matter-node-view.ts
  dashboard/src/pages/matter-server-view.ts
  dashboard/src/util/routing.ts
  pyproject.toml
  scripts/generate_descriptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint

Retry certification fetch if the first attempt fails
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Retry certification fetch if the first attempt fails (#670)
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

add verbose to the args options
  matter_server/server/__main__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add verbose log level (#662)
  matter_server/common/const.py
  matter_server/server/__main__.py
  matter_server/server/client_handler.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump chip wheels to 2024.4 (sdk 1.3)
  pyproject.toml
Due: check-toml

adjust device types generation script
  scripts/generate_devices.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

updated devicetypes for 1.3
  matter_server/client/models/device_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix on-network discovery only
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

small tweaks to subscriptions
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

refresh fabrics in the diagnostics util
  matter_server/client/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update matter_server/client/client.py
  matter_server/client/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

use 2024.4.1 wheels
  pyproject.toml
Due: check-toml

Update pyproject.toml
  pyproject.toml
Due: check-toml

Some small tweaks to the subscripions logic (#676)
  matter_server/client/client.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update scripts/generate_devices.py
  scripts/generate_devices.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Handle value specified as bytes received as integer
  matter_server/common/helpers/util.py
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

change conversion
  matter_server/common/helpers/util.py
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

remove space
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

adjust it to this specific case only
  matter_server/common/helpers/util.py
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Handle value specified as bytes received as integer (#684)
  matter_server/common/helpers/util.py
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump chip wheels to 2024.4.1 (Matter SDK 1.3) (#675)
  matter_server/client/models/device_types.py
  matter_server/server/device_controller.py
  pyproject.toml
  scripts/generate_devices.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Pin Python Matter server dependencies
  pyproject.toml
Due: check-toml

Address and enable flake8 type checking checks
  matter_server/client/client.py
  matter_server/client/models/node.py
  matter_server/common/helpers/util.py
  matter_server/common/models.py
  matter_server/server/client_handler.py
  matter_server/server/device_controller.py
  matter_server/server/helpers/custom_web_runner.py
  matter_server/server/server.py
  pyproject.toml
  tests/server/test_server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

Deduplicate PAA certificates using Subject Key Identifier
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix pytest by importing chip.CertificateAuthority
  tests/server/test_server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Pin dependencies for server only
  pyproject.toml
Due: check-toml

Drop dacite
  pyproject.toml
Due: check-toml

Use f-string as suggested in review
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Pin Python Matter server dependencies (#686)
  pyproject.toml
Due: check-toml

Use Pathlib to write certificates
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove old certificates if found
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add Subject Key Identifier as hex string to filename
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Deduplicate PAA certificates using Subject Key Identifier (#688)
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: ^(matter_server|pylint)/.+\.py$ and \.py$
