Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: scripts/run-in-env.sh pylint

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

adjust logger
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

lint
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Squashed commit of the following:
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update device_controller.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add name for SDK executor Thread (#605)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.2.2
  pyproject.toml
Due: check-toml

Update to Matter SDK wheels 2024.2.2 (#606)
  pyproject.toml
Due: check-toml

Add timeouts to sdk calls and subscription set-up (#604)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

fallback log name
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add reasonable minimal VS Code settings.json
  .gitignore
  .vscode/settings.json
Due: check-json

Fix lint
  .vscode/settings.json
Due: check-json

Add fallback scanner for Matter nodes (#603)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add fallback log name for exceptions (#607)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add option to skip downloading PAA root certificates
  matter_server/server/__main__.py
  matter_server/server/device_controller.py
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix pytests
  tests/server/test_server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Introduce a single lock for all sdk operations
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add flag to example.py as well
  scripts/example.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

remove timeout
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Drop Python 3.10 support
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
Due: check-toml

Drop Python 3.10 support (#612)
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
Due: check-toml

Fetch certificates only once a day
  matter_server/server/device_controller.py
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Simplify code a bit
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Move datetime comparison within certificate helper
  matter_server/server/device_controller.py
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Refactor locking
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

add semaphore for concurrent node setups
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix issue in commissioning code
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fetch certificates only once a day (#611)
  matter_server/server/device_controller.py
  matter_server/server/helpers/paa_certificates.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

review feedback
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Refactor locking and timeout to sdk access (#610)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Detect deadlock in subscribe node
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

typo
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

cool down the messaging
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

15 minutes, not 15 hours
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Detect deadlock on node subscription setup (#613)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Initialize logging after native init
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Initialize logging after native init (#616)
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix setting SDK log level on startup
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix setting SDK log level on startup (#617)
  matter_server/server/stack.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: ^(matter_server|pylint)/.+\.py$ and \.py$
