Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: scripts/run-in-env.sh check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-docstring-first
      - id: check-executables-have-shebangs
        name: 🧐 Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: scripts/run-in-env.sh check-executables-have-shebangs
        stages: [commit, push, manual]
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: scripts/run-in-env.sh check-json
      - id: check-merge-conflict
        name: 💥 Check for merge conflicts
        language: system
        types: [text]
        entry: scripts/run-in-env.sh check-merge-conflict
      - id: check-symlinks
        name: 🔗 Check for broken symlinks
        language: system
        types: [symlink]
        entry: scripts/run-in-env.sh check-symlinks
      - id: check-toml
        name: ✅ Check TOML files
        language: system
        types: [toml]
        entry: scripts/run-in-env.sh check-toml
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        entry: scripts/run-in-env.sh codespell
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: scripts/run-in-env.sh detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: scripts/run-in-env.sh end-of-file-fixer
        stages: [commit, push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: scripts/run-in-env.sh no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: scripts/run-in-env.sh pylint
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: scripts/run-in-env.sh trailing-whitespace-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(matter_server|pylint)/.+\.py$

Remove unnecessary parenthesis when raising exceptions (#634)
  matter_server/client/connection.py
  matter_server/server/client_handler.py
  pyproject.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint, mypy

add basic support for manually imported test nodes
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Make subscription attribute update handler Thread safe
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Make subscription attribute update handler Thread safe (#648)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.3.1
  pyproject.toml
Due: check-toml

Add support for importing test nodes
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
  dashboard/src/pages/matter-dashboard.ts
  matter_server/client/client.py
  matter_server/common/models.py
  matter_server/server/device_controller.py
  matter_server/server/storage.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add remove node support to the dashboard
  dashboard/src/pages/matter-node-view.ts
Due: none

Update to Matter SDK wheels 2024.3.1 (#650)
  pyproject.toml
Due: check-toml

add comment about dump format
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add remove node support to the dashboard (#652)
  dashboard/src/pages/matter-node-view.ts
Due: none

Run write node state in executor
  matter_server/common/helpers/util.py
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2024.3.2
  pyproject.toml
Due: check-toml

Update to Matter SDK wheels 2024.3.2 (#654)
  pyproject.toml
Due: check-toml

Use async resolve node
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Allow the dashboard to be hosted in ingress
  dashboard/src/entrypoint/main.ts
Due: none

adjust it a bit
  dashboard/src/entrypoint/main.ts
Due: none

Skip unneeded dataclass conversion in storage
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Allow the dashboard to be hosted in ingress (#656)
  dashboard/src/entrypoint/main.ts
Due: none

Use async resolve node (#655)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Skip unneeded dataclass conversion in storage (#658)
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Drop Python safety module from dependencies
  pyproject.toml
Due: check-toml

Drop Python safety module from dependencies (#661)
  pyproject.toml
Due: check-toml

Add verbose log level
  matter_server/common/const.py
  matter_server/server/__main__.py
  matter_server/server/client_handler.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Also adjust device controller
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

change log level to debug
  matter_server/server/device_controller.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

fix missing log param
  matter_server/client/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add support for importing (temporary) test nodes (#651)
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
  dashboard/src/pages/matter-dashboard.ts
  matter_server/client/client.py
  matter_server/common/models.py
  matter_server/server/device_controller.py
  matter_server/server/storage.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add feature to explore node attributes to dashboard
  dashboard/src/client/client.ts
  dashboard/src/client/models/descriptions.ts
  dashboard/src/client/models/node.ts
  dashboard/src/pages/components/footer.ts
  dashboard/src/pages/components/header.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-dashboard-app.ts
  dashboard/src/pages/matter-dashboard.ts
  dashboard/src/pages/matter-endpoint-view.ts
  dashboard/src/pages/matter-node-view.ts
  dashboard/src/util/routing.ts
  pyproject.toml
  scripts/generate_descriptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, pylint

a bit of cleanup
  dashboard/src/client/client.ts
  dashboard/src/client/models/node.ts
  dashboard/src/pages/components/header.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/components/server-details.ts
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-dashboard-app.ts
  dashboard/src/pages/matter-dashboard.ts
  dashboard/src/pages/matter-endpoint-view.ts
  dashboard/src/pages/matter-node-view.ts
  dashboard/src/pages/matter-server-view.ts
Due: none

add device types
  dashboard/src/client/models/descriptions.ts
  dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-endpoint-view.ts
  dashboard/src/pages/matter-node-view.ts
  scripts/generate_descriptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

leave devicetypes out for bridges
  dashboard/src/pages/components/node-details.ts
Due: none

lint
  scripts/generate_descriptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Update dashboard/src/pages/components/node-details.ts
  dashboard/src/pages/components/node-details.ts
Due: none

Update dashboard/src/pages/components/server-details.ts
  dashboard/src/pages/components/server-details.ts
Due: none

Update dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-cluster-view.ts
Due: none

Update dashboard/src/pages/components/header.ts
  dashboard/src/pages/components/header.ts
Due: none

type attribute changed callback data
  dashboard/src/client/client.ts
  dashboard/src/client/models/model.ts
Due: none

add goBack as private func
  dashboard/src/pages/matter-cluster-view.ts
  dashboard/src/pages/matter-endpoint-view.ts
  dashboard/src/pages/matter-node-view.ts
Due: none

Update dashboard/src/pages/matter-server-view.ts
  dashboard/src/pages/matter-server-view.ts
Due: none
