Repository home-assistant-libs/python-matter-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ğŸ¶ Ruff Linter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: ğŸ¶ Ruff Formatter
        language: system
        types: [python]
        entry: scripts/run-in-env.sh ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: ğŸ Check Python AST
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-ast
      - id: check-case-conflict
        name: ğŸ”  Check for case conflicts
        language: system
        entry: scripts/run-in-env.sh check-case-conflict
      - id: check-docstring-first
        name: â„¹ï¸  Check docstring is first
        language: system
        types: [python]
        entry: scripts/run-in-env.sh check-docstring-first
      - id: check-executables-have-shebangs
        name: ğŸ§ Check that executables have shebangs
        language: system
        types: [text, executable]
        entry: scripts/run-in-env.sh check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: ï½› Check JSON files
        language: system
        types: [json]
        entry: scripts/run-in-env.sh check-json
      - id: check-merge-conflict
        name: ğŸ’¥ Check for merge conflicts
        language: system
        types: [text]
        entry: scripts/run-in-env.sh check-merge-conflict
      - id: check-symlinks
        name: ğŸ”— Check for broken symlinks
        language: system
        types: [symlink]
        entry: scripts/run-in-env.sh check-symlinks
      - id: check-toml
        name: âœ… Check TOML files
        language: system
        types: [toml]
        entry: scripts/run-in-env.sh check-toml
      - id: codespell
        name: âœ… Check code for common misspellings
        language: system
        types: [text]
        entry: scripts/run-in-env.sh codespell
      - id: detect-private-key
        name: ğŸ•µï¸  Detect Private Keys
        language: system
        types: [text]
        entry: scripts/run-in-env.sh detect-private-key
      - id: end-of-file-fixer
        name: â®  Fix End of Files
        language: system
        types: [text]
        entry: scripts/run-in-env.sh end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: ğŸ›‘ Don't commit to main branch
        language: system
        entry: scripts/run-in-env.sh no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: ğŸŒŸ Starring code with pylint
        language: system
        types: [python]
        entry: scripts/run-in-env.sh pylint
      - id: trailing-whitespace
        name: âœ„  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: scripts/run-in-env.sh trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(matter_server|pylint)/.+\.py$

Eve weatherTrend
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

WeatherTrend
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove line
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Address new ruff issues
  matter_server/common/helpers/util.py
  matter_server/server/__main__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Fix pytest
  tests/server/test_server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint

Update descriptions.ts
  dashboard/src/client/models/descriptions.ts
Due: none

Address annotation optional errors
  matter_server/client/client.py
  tests/common/test_parser.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add custom Eve weatherTrend attribute for Eve Weather device (#1181)
  dashboard/src/client/models/descriptions.ts
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add multiplier and divisor attributes to ThirdRealityMeteringCluster
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add multiplier and divisor attributes to ThirdRealityMeteringCluster (#1180)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update to Matter SDK wheels 2025.7.0
  pyproject.toml
Due: check-toml

Update to Matter SDK wheels 2025.7.0 (#1184)
  pyproject.toml
Due: check-toml

Add typing-extensions for tests
  pyproject.toml
Due: check-toml

test
  pyproject.toml
Due: check-toml

Raise to Python 3.12
  pyproject.toml
Due: check-toml

bla
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Bump pre-commit to 3.13
  .github/workflows/test.yml
Due: none

Verbose
  .github/workflows/test.yml
Due: none

Log debug
  .github/workflows/test.yml
Due: none

Add ignore[arg-type] to fix mypy false positive
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add ignore[arg-type] to fix mypy false positive (#1190)
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Remove unnecessary noqa
  matter_server/server/__main__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

add heiman cluster
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

fix the lable for heiman
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

rename the attribute descriptor data classes t PascalCase format
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Revert "Add ignore[arg-type] to fix mypy false positive (#1190)"
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

ObstructionDetected Attribute within the Eve Cluster
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Lint fix
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

fixed ruff fomatter issue
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Drop unnecessary ignore unused comments
  matter_server/client/models/node.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Update docker documentation for HomeKit pairing
  docs/docker.md
Due: none

Print primary interface used by Python Matter server on startup
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Add Heiman cluster (#1197)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

Log primary interface used by Python Matter server on startup (#1212)
  matter_server/server/server.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy

ObstructionDetected Attribute within the Eve Cluster (#1196)
  matter_server/common/custom_clusters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, pylint, mypy
